@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");

/* image of hiker  */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");

h1 {
  background-color: rgb(57, 0, 0);
  color: rgb(65, 169, 255);
}
h2 {
  background-color: rgb(57, 0, 0);
  color: rgb(5, 15, 167);
}
nav {
  background-color: rgb(230, 107, 25);
}

body {
  margin: 0;
  padding: 0;
  background: #4d3c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Inconsolata, sans-serif;
  line-height: 1.4;
  background: #81c784;
  color: #4e342e;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Inconsolata, sans-serif;
  line-height: 1.4;
  background: #81c784;
  color: #4e342e;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
}

.module {
  max-width: 300px;
  background: #ffe082;
  box-shadow: 0 1rem 1rem rgba(#1b5e20, 0.5);
  border-radius: 3px;
}

img {
  position: static;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* This is the font style inside the card. */
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

/* This fits everything nice and neat inside the card. */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 0.2rem;
}

/* The heading color inside the card */
.inside-page__heading--camping,
.card-front__text-view--camping {
  color: #00b97c;
}

/* Front cover */

.card-front__tp {
  color: #fafbfa;
}

/* For pricing text on card front cover */
/* .card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
} */

/* The text color inside the card */
.inside-page__text {
  color: rgb(0, 0, 0);
}

/* 
.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
} */

/* Container to hold the card in one place and not hover. */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* This makes the card work smooth and opperational */
.card {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* This will open the card from right to left */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* This puts a front side on the card. */
.flip-card > * {
  visibility: visible;
}

.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

/* This keeps the card horizontal  */
.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* The short strip on the bottom the card */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* This will display the coloe scheme on the card. */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: 0.75rem;
}

.card-front__tp--camping {
  background: linear-gradient(to bottom, #4200db, #00b97d);
}

/* The text view me will be displayed in the center of */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* This is the front of the view me card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* When you open the card this is how large the video will be. */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* This will recenter the card after it is opened. */
.card:hover {
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
  width: 30rem;
}

/* This will open the card to view */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
/* .card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgb(242, 3, 3);
} */
