@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");

/* image of hiker  */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");



/* This is for the bird in the background. */
/* @import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300"); */

*,
::after,
::before{
  box-sizing: border-box;
}

/* This puts a gap in the page from the header */
.bird{
  background: url("https://raw.githubusercontent.com/Jeremiah-81/project-2/079ccc6c09d698a1c2a38a285044f7ba0b53c301/assets/Eagle-Silhouette-2.svg");
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-pattern;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
} 
 /* end of gap */
 
.bird-one{
  animation-duration: 1s;
  animation-delay: -.5s;
}

.bird-two{
  animation-duration: .9s;
  animation-delay: -.75s;
}

.bird-three{
  animation-duration: 1.25s;
  animation-delay: -.25s;
}

.bird-four{
  animation-duration: 1.1s;
  animation-delay: -.5s;
} 

.bird-container{
position: absolute;
top: 40%;
left: -10%;
transform: scale(0) translateX(-10vw);
will-change: transform;
animation-name: fly-right-one;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

.bird-container-one{
  animation-duration: 15s;
  animation-delay: 0s;
}

.bird-container-two{
  animation-duration: 16s;
  animation-delay: 1s;
}

.bird-container-three{
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container-four{
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle{
  100%{
    background-position: -900px 0;
   }
}

@keyframes fly-right-one{
  0%{
    transform: scale(.3) translateX(-10vw);
  }

  10%{
    transform: translate(10vw, 2vh) scale(.4);
  }

  20%{
    transform: translate(30vw, 0) scale(.5);
  }

  30%{    
    transform: translate(50vw, 4vh) scale(.6);
  }
  
  40%{    
    transform: translate(70vw, 2vh) scale(.6);
  }
  
  50%{    
    transform: translate(90vw, 0) scale(.6);
  }
  
  60%{    
    transform: translate(110vw, 0) scale(.6);
  }
  
  100%{    
    transform: translate(120vw, 0) scale(.6);
  }
}

/* Background bird ends here. */

h1 {
  background-color: rgb(57, 0, 0);
  color: rgb(65, 169, 255);
}
h2 {
  background-color: rgb(57, 0, 0);
  color: rgb(5, 15, 167);
}
nav {
  background-color: rgb(230, 107, 25);
}

body {
  margin: 0;
  padding: 0;
  background: #4d3c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Inconsolata, sans-serif;
  line-height: 1.4;
  background: #81c784;
  color: #4e342e;
}
/* This will make my header images shake when you hover over them. */
img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

h3 {
  font-family: Montserrat, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Inconsolata, sans-serif;
  line-height: 1.4;
  background: #81c784;
  color: #4e342e;
}

h3 {
  font-family: Montserrat, sans-serif;
}

.module {
  max-width: 300px;
  background: #ffe082;
  box-shadow: 0 1rem 1rem rgba(#1b5e20, 0.5);
  border-radius: 3px;
}

img {
  position: static;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* This is the font style inside the card. */
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

/* This fits everything nice and neat inside the card. */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 0.2rem;
}

/* The heading color inside the card */
.inside-page__heading--camping,
.card-front__text-view--camping {
  color: #00b97c;
}

/* Front cover */

.card-front__tp {
  color: #fafbfa;
}

/* The text color inside the card */
.inside-page__text {
  color: rgb(0, 0, 0);
}

/* Container to hold the card in one place and not hover. */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* This makes the card work smooth and opperational */
.card {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* This will open the card from right to left */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* This puts a front side on the card. */
.flip-card > * {
  visibility: visible;
}

.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

/* This keeps the card horizontal  */
.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* The short strip on the bottom the card */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* This will display the color scheme on the card. */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: 0.75rem;
}

.card-front__tp--camping {
  background: linear-gradient(to bottom, #4200db, #00b97d);
}

/* The text view me will be displayed in the center of */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* This is the front of the view me card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* When you open the card this is how large the video will be. */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* This will recenter the card after it is opened. */
.card:hover {
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
  width: 30rem;
}

/* This will open the card to view */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

